:root {
   --main-midnight-green: #014e56;
   --main-light-coral: #f67e7e;
   --main-white: #fff;
   --main-rapture-blue: #79c8c7;
   --main-police-blue: #2c6269;
   --main-jungle-green: #004047;
   --main-state-green: #012f34;
   --main-dark-green: #002529;
   --main-font-family: "Livvic";
   --main-font-weight-500: 500;
   --main-font-weight-600: 600;
   --main-font-weight-700: 700;
}