@use "../variables" as *;
@use "../mixins" as m;

/* footer start */
.site-footer {
   padding-top: 56px;
   padding-bottom: 54px;
   background-color: var(--main-dark-green);

   &--logo {
      width: 96px;
      margin: 0 auto;
   }

   &__list {
      @include m.flexbox(flex, null, center, center, null, 20px);
      @include m.list-unstyled(20px, 0);
   }

   &__link {
      @include m.link-unstyled(inline-block, var(--main-white));
      font-size: 15px;
      line-height: 25px;
      transition: color 0.3s linear;

      &:hover {
         color: var(--main-light-coral);
      }
   }

   &__address {
      margin-top: 20px;
      font-style: normal;
   }

   &__location-link {
      @include m.link-unstyled(block, var(--main-white));
      text-align: center;
      font-size: 15px;
      line-height: 25px;
      opacity: 0.6;
   }

   &__call {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 15px;
      line-height: 25px;
      color: var(--main-white);
      opacity: 0.6;
   }

   &__call-link {
      @include m.link-unstyled(inline-block, var(--main-white));
      margin-left: 5px;
   }

   &__social-wrapper {
      @include m.flexbox(flex, null, center, null, null, 12px);
      margin-top: 30px;
   }

   &__social-img {
      color: var(--main-white);
      transition: color 0.3s linear;

      &:hover {
         color: var(--main-light-coral);
      }
   }

   &__copyright-text {
      display: block;
      margin-top: 16px;
      text-align: center;
      font-size: 11px;
      line-height: 21px;
      color: var(--main-white);
      opacity: 0.6;
   }
}
/* footer finish */

/* footer responsive design */
@media only screen and (min-width: 320px) {
   .site-footer {
      padding-top: 61px;
      padding-bottom: 59px;
   
      &__list {
         @include m.flexbox(flex, null, center, center, null, 24px);
         @include m.list-unstyled(24px, 0);
      }
   
      &__address {
         margin-top: 24px;
      }
   
      &__social-wrapper {
         @include m.flexbox(flex, null, center, null, null, 16px);
         margin-top: 35px;
      }
   
      &__copyright-text {
         font-size: 13px;
         line-height: 23px;
      }
   }
}

@media only screen and (min-width: 375px) {
   .site-footer {
      padding-top: 66px;
      padding-bottom: 64px;
   
      &__social-wrapper {
         margin-top: 40px;
      }
   
      &__copyright-text {
         font-size: 15px;
         line-height: 25px;
      }
   }
}

@media only screen and (min-width: 768px) {
   .site-footer {
      padding-top: 56px;
      padding-bottom: 56px;

      &__pages-and-logo-box {
         @include m.flexbox(flex, null, space-between, center, null, null);
         margin-bottom: 32px;
      }
   
      &--logo {
         margin-right: auto;
      }
   
      &__list {
         @include m.list-unstyled(53px, 0);
      }
   
      &__address {
         max-width: 170px;
         margin-top: 0;
      }
   
      &__location-link {
         text-align: right;
      }
   
      &__call {
         margin: 0;
      }

      &__social-box-and-text-wrapper {
         @include m.flexbox(flex, null, space-between, center, null, null);
      }
   
      &__social-wrapper {
         margin-top: 0;
         margin: 0;
      }

      &__copyright-text {
         display: inline-block;
         margin-top: 0;
         text-align: right;
      }
   }
}

@media only screen and (min-width: 1150px) {
   .site-footer {
      padding-top: 48px;
      padding-bottom: 48px;

      &__box {
         @include m.flexbox(flex, null, space-between, center, null, null);
      }

      &__pages-and-logo-box {
         @include m.flexbox(flex, null, flex-start, center, null, 122px);
         margin-bottom: 0;
      }
   
      &__list {
         @include m.list-unstyled(25px, 0);
      }
   
      &__address {
         max-width: 165px;
         margin-top: 0;
      }
   
      &__location-link {
         text-align: start;
      }
   
      &__call {
         margin: 0;
      }

      &__social-box-and-text-wrapper {
         @include m.flexbox(flex, column, stretch, stretch, 51px, null);
      }
   
      &__social-wrapper {
         margin-top: 0;
         margin-left: auto;
      }

      &__copyright-text {
         display: inline-block;
         margin-top: 0;
         text-align: right;
      }
   }
}